.artist_list{
    box-sizing: border-box;
    padding: 10px 30p;
}

.artist_list .artist_item{
    display: block;
    height: 300px;
    background-size: cover !important;
    margin-bottom:20px;
    position: relative;
}

.artist_list .artist_item div{
    background: rgb(62, 188, 238);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.artist_list  h4{
    text-align: center;
    font-size:30px;
    margin: 20px 0px;
    font-weight: 100;
}