.artist_bio{
    box-sizing: border-box;
    padding: 10px 40px;
}

.artist_bio .artist_image span{
    height: 140px;
    width:140px;
    display: block;
    margin: 0 auto;
    background-size:cover !important
}

.bio h3{
    text-align: center;
    font-size:30px;
    font-weight: 500;
}

.bio .bio_text{
    font-size:15px;
    font-weight: 100;
}

.album_list{
    margin:20px;
}
.album_list > img{
    float:left;
    width:40%;
    margin:10px;
}