body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #313131
}

a{
    text-decoration: none;
    color:inherit;
}

/*=========================
        Header/Footer
=========================*/
header,
footer{
    text-align: center;
    font-size: 22px;
    padding: 10px;
    color:peru;
    font-family: 'Sedgwick Ave Display', cursive;
}